

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/utilities.css">
    <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <title><%= title %></title>
</head>
<body>
    <header class="header-container">
    <%- include('../partials/nav.ejs') %>
    </header>
    <div id="form-container">
        <form id="login-form">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
    
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
    
          <button type="submit">Log In</button>
        </form>
    </div> 
    <%- include('../partials/footer.ejs') %>
  </body>
  </html>