/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: cursive;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color);
    color: var(--letter-color);
    padding: 10px;
    text-align: center;
  }
  
  body {
    background-color: white;
  }
  
  :root {
    --main-color: #001d2f;
    --letter-color: white;
  }