<nav>
    <div class="navbar">
      <h1 class="navbar-header"><%= username %></h1>
      <ul class="navbar-links">
        <li><a href="#">Home</a></li>
        <li><a href="/homepage/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  